
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');


body{
    display: grid;
    place-items: center;
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
    overflow-x: hidden;
    
}
p{
font-size: 2rem;
}
#topsvg{
    width: 100vw;
    pointer-events: none;
}
#bottomsvg {
    width: 100vw;
    transform: scaleY(-1);
    pointer-events: none;
  }