<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" >
    <title>Graphs with Python</title>
</head>

<body>
    <h1>Graphs with Python</h1>
    <div class="text-container">
        <p>This is a site page done to demonstrate a graph using <b><i>MatplotLib and Flask</b></i></p>
    </div>
    <div class="graph-container">
        <iframe name="graph" href="/graph" id="graph" width="100%" height="100%" ></iframe>
    </div>
        <h1>Points of the Graph</h1>
    <div class="form-container">
        <form target="graph" style="display: flex;">

        <div>
            <h2>Point 1</h2>
            
        </div>

        <div>
            <h2>Point 2</h2>

        </div>

        <div>
            <h2>Point 3</h2>

        </div>

    </form> 

    </div>
    


    
    
</body>

</html>