<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  method="post">
        <label for="eixox1">Eixo_X_1:</label>
        <input type="number" id="eixox1" name="eixox1">
        <br>
        <label for="eixoy1">Eixo_Y_1:</label>
        <input type="number" id="eixoy1" name="eixoy1">
        <br>
        <label for="eixoz1">Eixo_Z_1:</label>
        <input type="number" id="eixoz1" name="eixoz1">
        <br>
        <label for="eixox2">Eixo_X_2:</label>
        <input type="number" id="eixox2" name="eixox2">
    <br>
        <label for="eixoy2">Eixo_Y_2:</label>
        <input type="number" id="eixoy2" name="eixoy2">
        <br>
        <label for="eixoz2">Eixo_Z_2:</label>
        <input type="number" id="eixoz2" name="eixoz2">
        <br>
        <label for="eixox3">Eixo_X_3:</label>

        <input type="number" id="eixox3" name="eixox3">
    <br>
        <label for="eixoy3">Eixo_Y_3:</label>
        
        <input type="number" id="eixoy3" name="eixoy3">
        <br>
        <label for="eixoz3">Eixo_Z_3:</label>
        <input type="number" id="eixoz3" name="eixoz3">
        <br>
        <input type="submit" value="Enviar" >
</body>
</html>