<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="" method="post">
        <button name="activate" value="on">ON</button>
    </form>
    <form action="" method="post">
        <button name="activate" value="off"></button>
    </form> 
    <div style="color: red;{{ display }}">
    <p >"OVERLAY"</p> </div>
</body>
</html>